#joiner {
    margin-top: 100px;
}

.form-signin {
    width: 450px;
    padding: 25px;
    margin: auto;
    text-align: center;
    border: solid black 2px;
    border-radius: 20px;
    background-color: #e0e0e0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 24px;
    border: 2px solid black;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .btn {
    position: relative;
    margin: 0 auto;
}

#wrapper {
    display: flex;
    align-items: center;
}

#wrapper .btn-lg {
    font-size: 25px;
    border: 2px solid black;
}

#room {
    flex: 1;
    margin-right: 10px;
}

#generateRoom {
    margin: 16px 0;
    font-size: 18px;
    color: black;
}

#header {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #b3e6ff; /* #f6afaf */
    padding: 20px;
}

.top-btn {
    background-color: #f6afaf;
}

.top-btn:hover, .top-btn:focus {
    background-color: #9a9a9a;
}

.btm-btn {
    background-color: #b3e6ff;
}

.btm-btn:hover, .btm-btn:focus {
    background-color: #9a9a9a;
}

#generateRoom[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #9a9a9a;
}

