.WscrLogo {
    width: 50%;
    height: 50%;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .WscrLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}

.Navbar {
    background-color: #fff;
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

